.about {
  display: block;
}

.intro__title,
.intro__subtitle {
  font-size: 70px;
  line-height: 75px;
}

br {
  display: none;
}

.intro__title {
  position: absolute;
  top: 230px;
}

.intro__subtitle {
  position: absolute;
  z-index: 1;
  top: 300px;
  left: 21.5%;
}

.subtitle__highlight {
  color: #fa9931;
}

.description__wrapper {
  position: absolute;
  z-index: 1;
  top: 394px;
  left: 60%;
  padding-left: 10px;
  width: 375px;
  border-left: 5px solid #fa9931;
}

.description {
  font-size: 35px;
  line-height: 40px;
  color: #fff;
}

.description__highlight {
  font-size: 38.5px;
  color: #fa9931;
}

@media (max-width: 1199px) {
  .intro__title,
  .intro__subtitle {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 1047px) {
  br {
    display: block;
  }

  .intro__title {
    top: 150px;
  }

  .intro__subtitle {
    top: 277px;
    left: 7.5%;
  }

  .description__wrapper {
    top: 425px;
    left: 45%;
  }

  .description {
    font-size: 32px;
    line-height: 37px;
  }

  .description__highlight {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .intro__title,
  .intro__subtitle {
    font-size: 40px;
    line-height: 47px;
  }

  .intro__title {
    top: 120px;
    left: 5%;
  }

  .intro__subtitle {
    top: 214px;
    left: 6%;
    width: 255px;
  }

  .description__wrapper {
    width: 90%;
    top: 376px;
    left: 8%;
    border-left: 3px solid #fa9931;
  }

  .description {
    font-size: 27px;
    line-height: 32px;
  }

  .description__highlight {
    font-size: 30px;
  }
}

@media (max-width: 324px) {
  .intro__title {
    top: 200px;
  }

  .intro__subtitle {
    top: 290px;
  }

  .description__wrapper {
    top: 440px;
  }
}
