.main__image {
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: url(../images/main__image.png);
  height: 765px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.description {
  margin-bottom: 29px;
  width: 430px;
  height: 103px;
}

.intro {
  width: 919px;
  height: 205px;
}
