.about {
  margin-bottom: 256px;
}

.anchor {
  position: relative;
  height: 342px;
}

.desc__wrapper {
  position: absolute;
  top: 260px;
  left: 354px;
  width: 430px;
}

.description {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.description__highlight {
  font-size: 38px;
  color: #fa9931;
}

.intro__wrapper {
  position: absolute;
}

.intro {
  font-size: 80px;
  line-height: 75px;
  color: #fa9931;
}

.intro:first-child {
  position: absolute;
  top: -152px;
  left: 153px;
  width: 412px;
}

.intro:last-child {
  position: absolute;
  top: 48px;
  left: 240px;
  width: 914px;
}
