.contact__me {
  margin-bottom: 10px;
  height: 717px;
  background: #191c19;
  border-radius: 30px;
}

.contacts__wrapper {
  position: relative;
  padding: 100px 0 101px;
  width: 50%;
  height: 100%;
}

.form__instruction {
  margin-bottom: 60px;
  width: 540px;
  font-size: 60px;
  line-height: 60px;
}

.send__order {
  width: 450px;
  font-size: 22px;
  line-height: 70px;
  background: #fa9931;
  border-radius: 10px;
  color: #000;
}

.send__order:hover {
  background: #fff;
  color: #fa9931;
}

.contacts__back-image {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  margin-left: 157px;
  width: 50%;
  height: 717px;
  background-image: url(../images/frontender_at_work.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1199px) {
  .contacts {
    margin-bottom: 7px;
    height: 484px;
  }

  .fw_container-rounded {
    border-radius: 20px;
  }

  .contacts__wrapper {
    gap: 156px;
  }

  .contacts__box {
    padding: 50px 0 86px 52px;
  }

  .form__instruction {
    margin-bottom: 40px;
    width: 373px;
    font-size: 40px;
    line-height: 40px;
  }

  .send__order {
    width: 305px;
    font-size: 16px;
    line-height: 47px;
  }

  .contacts__back-image {
    border-radius: 20px 0;
    background-position: 0 50%;
  }
}

@media (max-width: 767px) {
  .contacts {
    margin-bottom: 0;
    height: 428px;
  }

  .contacts__wrapper {
    padding: 50px 10px;
    height: 100%;
    display: block;
  }

  .contacts__box {
    width: 100%;
    padding: 0;
  }

  .form__instruction {
    margin-bottom: 40px;
    width: 100%;
    font-size: 35px;
    line-height: 37px;
  }

  .send__order {
    width: 100%;
    font-size: 15px;
    line-height: 43px;
    border-radius: 6px;
  }

  .contacts__back-image {
    display: none;
  }
}
