footer {
  padding: 76px 0 74px;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
}

.footer__contacts-wrapper,
.footer__policy-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer__contacts-wrapper {
  margin-bottom: 59px;
}

.footer-links {
  padding-top: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;
}

.footer__title,
.footer__link {
  color: #000;
}

/*next stage for refactoring----
.footer-links li:first-child .footer__link:before,
.footer-links li:nth-last-child(2) .footer__link:before,
.footer-links li:last-child .footer__link:before {
  content: "";
  position: absolute;
  top: -35px;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.footer-links li:first-child .footer__link:before {
  background-image: url("../images/mail.png");
}

.footer-links li:nth-last-child(2) .footer__link:before {
  background-image: url("../images/telegram.png");
}

.footer-links li:last-child .footer__link:before {
  background-image: url("../images/github.png");
}

.footer__link {
  position: relative;
  display: block;
}*/

.footer__subtitle,
.policy {
  font-size: 20px;
  line-height: 27px;
  color: #000;
  opacity: 0.5;
}

.footer__subtitle {
  padding-top: 7px;
}

.footer__link:hover {
  opacity: 0.5;
}

.policy:hover {
  color: #000;
  opacity: unset;
}

@media (max-width: 1199px) {
  footer {
    padding: 51px 25px 49px;
    border-radius: 20px 20px 0 0;
  }

  .footer__contacts-wrapper {
    margin-bottom: 38px;
  }

  .footer-links {
    gap: 14px;
  }

  .footer__subtitle {
    padding-top: 5px;
  }

  .footer__title,
  .footer__link {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 767px) {
  footer {
    padding: 47px 0 34px;
    border-radius: 18px 18px 0 0;
  }

  .footer__contacts-wrapper,
  .footer__policy-wrapper {
    display: block;
  }

  .footer__contacts-wrapper {
    margin-bottom: 35px;
  }

  .footer-links {
    padding-top: 20px;
    gap: 12px;
  }

  .footer__title,
  .footer__link {
    font-size: 15px;
    line-height: 20px;
  }

  .footer__subtitle,
  .policy {
    font-size: 13px;
    line-height: 18px;
  }

  .footer__title {
    max-width: 198px;
  }

  .policy {
    padding-top: 12px;
    text-align: left;
  }
}

@media (max-width: 193px) {
  .footer-links {
    display: block;
  }
}
