.intro {
  position: relative;
  font-size: 70px;
  line-height: 75px;
}

.intro {
  top: 60px;
  left: 16%;
}

.title__highlight {
  color: #fa9931;
}

.description__wrapper {
  position: relative;
  padding-left: 10px;
  top: 90px;
  left: 26%;
  width: 565px;
  border-left: 5px solid #fa9931;
  border-right: 3px solid #fa9931;
}

.description {
  font-size: 35px;
  line-height: 40px;
  color: #fff;
}

.description__highlight {
  font-size: 38.5px;
  color: #fa9931;
}

@media (max-width: 1199px) {
  .intro,
  .intro__title {
    font-size: 60px;
    line-height: 70px;
  }

  .intro__title {
    top: 50px;
    left: 22%;
  }
}

@media (max-width: 1047px) {
  .intro__title {
    top: 20px;
    left: 15%;
  }

  .intro {
    top: 277px;
    left: 7.5%;
  }

  .description__wrapper {
    top: 425px;
    left: 45%;
  }

  .description {
    font-size: 32px;
    line-height: 37px;
  }

  .description__highlight {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .intro,
  .intro__title {
    font-size: 40px;
    line-height: 47px;
  }

  .intro {
    top: 60px;
    left: 10%;
  }

  .intro__title {
    top: 214px;
    left: 6%;
    width: 255px;
  }

  .description__wrapper {
    width: 90%;
    top: 376px;
    left: 8%;
    border-left: 3px solid #fa9931;
  }

  .description {
    font-size: 27px;
    line-height: 32px;
  }

  .description__highlight {
    font-size: 30px;
  }
}

@media (max-width: 479px) {
  .intro {
    left: 1%;
  }
}

@media (max-width: 324px) {
  .intro__title {
    top: 200px;
  }

  .intro {
    top: 290px;
  }

  .description__wrapper {
    top: 440px;
  }
}
