.intro,
.intro__title,
.description__highlight {
  font-size: 65px;
  line-height: 70px;
  text-shadow: -0.5px -0.5px 0.5px #fff, 0.5px 0.5px 1px #000;
}

.intro {
  margin-bottom: 50px;
  padding-left: 20%;
}

.intro__title {
  margin-bottom: 50px;
}

.title__highlight {
  color: #fa9931;
}

.description__wrapper {
  margin: 0 auto;
  padding-left: 10px;
  border-left: 5px outset #fa9931;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 24px 24px 0;
}

.description {
  font-size: 36px;
  line-height: 52px;
}

.description__highlight {
  display: inline;
  font-size: 38px;
  line-height: 52px;
  color: #fa9931;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .intro,
  .intro__title {
    font-size: 60px;
    line-height: 70px;
  }

  .intro__title {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .intro,
  .intro__title {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 47px;
  }

  .description__wrapper {
    padding-left: 5px;
    border-left: 3px outset #fa9931;
  }

  .description {
    font-size: 27px;
    line-height: 32px;
  }

  .description__highlight {
    font-size: 30px;
    line-height: 32px;
  }
}

@media (max-width: 631px) {
  .intro {
    padding-left: 4%;
  }
}
