.body_fixed {
  overflow: hidden;
}

header {
  margin-bottom: 295px;
  height: 23px;
}

.header__image {
  position: relative;
  z-index: -10;
  top: 0;
  left: 0;
  background-image: url(../images/promo_photo.jpg);
  height: 104vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-wrapper {
  position: absolute;
  top: 14px;
  left: 122px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  margin-right: 474px;
  width: 179px;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: -0.11em;
  color: #fa9931;
  background-color: aliceblue;
  border-radius: 100px;
  border: 2px solid aliceblue;
}

.nav__links {
  display: flex;
  gap: 50px;
}

.nav__link {
  display: block;
  line-height: 23px;
  height: 23px;
  font-size: 18px;
}
