.intro {
  position: relative;
  width: fit-content;
  font-size: 70px;
  line-height: 75px;
}

.intro {
  top: 40px;
  left: 16%;
}

.title__highlight {
  color: #fa9931;
}

.description__wrapper {
  position: relative;
  width: 499px;
  padding-left: 10px;
  top: 45px;
  left: 21%;
  border-left: 5px solid #fa9931;
}

.description {
  font-size: 35px;
  line-height: 40px;
}

.description__highlight {
  font-size: 36px;
  color: #fa9931;
}

@media (max-width: 1199px) {
  .intro {
    font-size: 60px;
    line-height: 70px;
  }
  .description__wrapper {
    left: 20.5%;
  }
}

@media (max-width: 1047px) {
  .intro {
    top: 25px;
    left: 4%;
  }

  .description {
    font-size: 32px;
    line-height: 37px;
  }

  .description__highlight {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .intro {
    font-size: 40px;
    line-height: 47px;
  }

  .intro {
    top: 60px;
  }

  br {
    display: none;
  }

  .description__wrapper {
    padding-left: 5px;
    width: 80%;
    max-height: fit-content;
    top: 107px;
    left: 8%;
    border-left: 3px solid #fa9931;
  }

  .description {
    font-size: 27px;
    line-height: 32px;
  }

  .description__highlight {
    font-size: 30px;
  }
}

@media (max-width: 479px) {
  .intro {
    left: 1%;
  }

  .description__wrapper {
    top: 65px;
    left: 3%;
  }

  br {
    display: none;
  }
}

@media (max-width: 324px) {
  .intro {
    top: 290px;
  }

  .description__wrapper {
    top: 440px;
  }
}
