.body_fixed {
  overflow: hidden;
}

header {
  display: block;
  padding-top: 33px;
  background: url(../images/promo_photo.jpg);
  height: 765px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aliceblue;
  opacity: 0.9;
}

.header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  width: 179px;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: -0.11em;
  color: #fa9931;
  background-color: aliceblue;
  border-radius: 80px;
  border: 2px solid aliceblue;
}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav__link {
  display: block;
  line-height: 23px;
  height: 23px;
  font-size: 18px;
}

.burger-btn {
  display: none;
}

.burger {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  display: flex;
  justify-content: end;
  opacity: 0.7;
  visibility: hidden;
  transition: all 0.3s ease;
}

.burger_open {
  opacity: 1;
  visibility: visible;
}

.burger__content {
  padding: 64px 37px 191px;
  width: 362px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background-color: #000;
  transition: transform 0.3s linear;
  transform: translateX(100%);
}

.burger_open .burger__content {
  transform: translateX(0);
}

.burger__logo {
  margin-bottom: 37px;
  width: 179px;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: -0.11em;
  color: #fa9931;
  background-color: aliceblue;
  border-radius: 80px;
  border: 2px solid aliceblue;
}

.burger-nav {
  margin-bottom: 91px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.burger-nav__link {
  display: block;
  font-size: 25px;
  line-height: 32px;
  height: 32px;
}

.nav__link:hover,
.burger-nav__link a:hover,
.burger__contacts-link a:hover {
  border-bottom: 2px solid #fa9931;
}

.burger__contacts {
  margin-bottom: 1px;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  opacity: 0.5;
  text-align: center;
}

.burger__contacts-link {
  display: block;
  font-size: 20px;
  line-height: 46px;
  height: 46px;
}

@media (max-width: 1199px) {
  header {
    background: url(../images/promo_photo-tblt.jpg);
    background-size: cover;
  }

  .nav-links {
    display: none;
  }

  .burger-btn {
    display: block;
    position: relative;
    width: 36px;
    height: 3px;
    border: none;
    background: none;
    cursor: pointer;
    background-color: aliceblue;
  }

  .burger-btn::before,
  .burger-btn::after {
    content: "";
    position: absolute;
    top: -12px;
    right: 0;
    width: 36px;
    height: 3px;
    background-color: aliceblue;
  }

  .burger-btn::after {
    top: 12px;
  }

  .burger-btn_open::before {
    position: absolute;
    z-index: 80;
    transform: translate(0, -21px) rotate(-45deg);
    background-color: #fa9931;
  }
  .burger-btn_open::after {
    position: absolute;
    z-index: 80;
    transform: translate(0, -45px) rotate(45deg);
  }
}

@media (max-width: 767px) {
  header {
    height: 716px;
    padding-top: 23px;
    background-image: url(../images/promo_photo-mbl.jpg);
    background-size: cover;
    background-position-x: center;
  }
}

@media (max-width: 324px) {
  .header-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .logo__link {
    margin-left: -55px;
  }

  .burger-btn,
  .burger-btn::after,
  .burger-btn::before {
    display: none;
  }

  .nav__links {
    display: block;
  }
}
