.body_fixed {
  overflow: hidden;
}

header {
  margin-bottom: 278px;
  height: 23px;
}

/*.header__image {
  position: relative;
  z-index: -10;
  top: -115px;
  left: 0;
  background-image: url(../images/promo_photo.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}*/

.header-wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  position: relative;
  z-index: 10;
  width: 109px;
  height: 55px;
  object-fit: cover;
  object-position: center;
}

.logo__title {
  position: absolute;
  z-index: 20;
  top: 8px;
  left: 26px;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: -0.11em;
  color: #fa9931;
}

.nav__links {
  display: flex;
  gap: 50px;
}

.nav__link {
  display: block;
  line-height: 23px;
  height: 23px;
  font-size: 18px;
}
