.input {
  box-sizing: border-box;
  margin-bottom: 26px;
  padding: 16px 40px 15px;
  display: block;
  width: 114%;
  color: #fff;
  font-size: 22px;
  line-height: 29px;
  border-radius: 100px;
  background-color: #3b3d3b;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-size: 22px;
  line-height: 29px;
  color: #fff;
}

.input:last-child {
  margin-bottom: 60px;
}
