html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Mono", monospace;
  background: #968484;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

h1,
h2,
p,
a {
  letter-spacing: -0.03em;
}

h2 {
  font-size: 55px;
  line-height: 72px;
}

p {
  font-size: 40px;
  line-height: 40px;
}

p,
a {
  text-decoration: none;
  color: #fff;
}

h2 {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}
