html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: rgba(0, 0, 0, 1);
  font-weight: 400;
}

section {
  margin-bottom: 150px;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

h1,
h2,
h3,
p,
a {
  letter-spacing: -0.03em;
  color: #fff;
}

h2 {
  font-size: 55px;
  line-height: 72px;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  cursor: pointer;
  text-align: center;
}
