/*pdpp - Personal data processing policy (политика обработки персональных данных)*/

.pdpp {
  background-color: #121212;
}

.pdpp__title {
  padding: 25px;
  font-size: 50px;
  line-height: 60px;
  color: #fa9931;
}

.pdpp__text {
  padding: 20px;
  font-size: 22px;
  line-height: 30px;
  opacity: 0.4;
}

.back__btn {
  width: 100%;
  padding: 56px 85px;
  font-size: 45px;
  line-height: 39px;
  background: #fa9931;
  border-radius: 10px;
}

.back__btn:hover {
  background: #fff;
  color: #fa9931;
}
@media (max-width: 1199px) {
  .back__btn {
    padding: unset;
    font-size: 35px;
    line-height: 120px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .pdpp__title {
    font-size: 25px;
    line-height: 40px;
  }

  .pdpp__text {
    width: 85%;
    font-size: 16px;
    line-height: 25px;
  }

  .back__btn {
    line-height: 80px;
  }
}
