.services__title {
  margin-bottom: 80px;
  width: 420px;
  font-size: 35px;
  line-height: 46px;
}

.service__image {
  margin-bottom: 0;
  height: 200px;
  border-radius: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*this code helps to work with implemented divs inside ul-list*/
.services__list li:first-child .service__image {
  background-image: url(../images/website-development.jpg);
}

.services__list li:nth-last-child(2) .service__image {
  background-image: url(../images/website-layout.jpg);
}

.services__list li:last-child .service__image {
  background-image: url(../images/mob-interface-development.jpg);
}

.service__desc-wrapper {
  margin-bottom: 40px;
  height: 283px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #191c19;
  border-radius: 30px;
}

.service__name {
  padding: 40px 0 121px 40px;
  width: calc(50% - 35px);
  font-size: 55px;
  line-height: 61px;
  color: #fa9931;
}

.service__desc {
  padding: 35px 45px 64px 0;
  width: calc(50% - 35px);
  font-size: 22px;
  line-height: 29px;
  color: #fff;
}

@media (max-width: 1199px) {
  .services__title {
    margin-bottom: 60px;
    font-size: 28px;
    line-height: 37px;
  }

  .service__image {
    height: 162px;
    border-radius: 24px;
    background-size: cover;
  }

  .service__desc-wrapper {
    margin-bottom: 32px;
    height: 229px;
    border-radius: 24px;
  }

  .service__name {
    padding: 32px 0 97px 32px;
    width: calc(50% - 28px);
    font-size: 45px;
    line-height: 50px;
  }

  .service__desc {
    padding: 32px 48px 82px 0;
    width: calc(50% - 28px);
    font-size: 18px;
    line-height: 23px;
  }
}

@media (max-width: 767px) {
  .service__image {
    height: 225px;
  }

  .services__list li:first-child .service__image {
    background-image: url(../images/website-development-mbl.jpg);
  }

  .services__list li:nth-last-child(2) .service__image {
    background-image: url(../images/website-layout-mbl.jpg);
  }

  .services__list li:last-child .service__image {
    background-image: url(../images/mob-interface-development-mbl.jpg);
  }
  .service__desc-wrapper {
    display: block;
    padding-top: 30px;
    padding-left: 23px;
    margin-bottom: 60px;
    height: 397px;
  }

  .service__name {
    padding: 0;
    width: 90%;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 39px;
  }

  .service__desc {
    padding: 0;
    width: 90%;
    font-size: 18px;
    line-height: 23px;
  }
}
