.services__title {
  margin-bottom: 80px;
  width: 420px;
  font-size: 35px;
  line-height: 46px;
}

.service__image {
  margin-bottom: 0;
  height: 200px;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #191c19;
}

/*this code helps to work with implemented divs inside ul-list*/
.services__list li:first-child .service__image {
  background-image: url(../images/website-development.jpg);
}

.services__list li:nth-last-child(2) .service__image {
  background-image: url(../images/website-layout.jpg);
}

.services__list li:last-child .service__image {
  background-image: url(../images/mob-interface-development.jpg);
}

.service__desc-wrapper {
  margin-bottom: 40px;
  padding: 40px 45px 64px 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 70px;
  background-color: #191c19;
  border-radius: 30px;
}

.service__name {
  width: 470px;
  font-size: 55px;
  line-height: 61px;
  color: #fa9931;
}

.service__desc {
  padding-top: 5px;
  width: 525px;
  font-size: 22px;
  line-height: 29px;
  color: #fff;
}

@media (max-width: 1199px) {
  .services__title {
    margin-bottom: 60px;
    font-size: 28px;
    line-height: 37px;
  }

  .service__image {
    height: 162px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
  }

  .services__list li:first-child .service__image {
    background-image: url(../images/website-development-tblt.jpg);
  }

  .services__list li:nth-last-child(2) .service__image {
    background-image: url(../images/website-layout-tblt.jpg);
  }

  .services__list li:last-child .service__image {
    background-image: url(../images/mob-interface-development-tblt.jpg);
  }

  .service__desc-wrapper {
    margin-bottom: 32px;
    padding: 32px 36px 55px 32px;
    gap: 57px;
    border-radius: 24px;
  }

  .service__name {
    width: 380px;
    font-size: 45px;
    line-height: 50px;
  }

  .service__desc {
    width: 425px;
    font-size: 18px;
    line-height: 23px;
  }
}

@media (max-width: 767px) {
  .services__title {
    width: 100%;
  }

  .service__image {
    height: 225px;
  }

  .services__list li:first-child .service__image {
    background-image: url(../images/website-development-mbl.jpg);
  }

  .services__list li:nth-last-child(2) .service__image {
    background-image: url(../images/website-layout-mbl.jpg);
  }

  .services__list li:last-child .service__image {
    background-image: url(../images/mob-interface-development-mbl.jpg);
  }

  .service__desc-wrapper {
    margin-bottom: 60px;
    padding: 30px 23px 67px 21px;
    display: block;
  }

  .service__name,
  .service__desc {
    padding: unset;
    width: 100%;
  }

  .service__name {
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 39px;
  }

  .service__desc {
    font-size: 18px;
    line-height: 23px;
  }
}
