.services__title {
  margin-bottom: 80px;
  width: 403px;
  font-size: 35px;
  line-height: 46px;
}

.service__image {
  margin-bottom: 0;
  height: 200px;
  border-radius: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*this code helps to work with implemented divs inside ul-list*/
.services__list li:first-child .service__image {
  background-image: url(../images/website-development.jpg);
}

.services__list li:nth-last-child(2) .service__image {
  background-image: url(../images/website-layout.jpg);
}

.services__list li:last-child .service__image {
  background-image: url(../images/mob-interface-development.jpg);
}

.service__desc-wrapper {
  margin-bottom: 40px;
  height: 283px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 70px;
  background-color: #191c19;
  border-radius: 30px;
}

.service__name {
  padding: 40px 0 121px 40px;
  width: 481px;
  font-size: 55px;
  line-height: 61px;
  color: #fa9931;
}

.service__desc {
  padding: 35px 45px 64px 0;
  width: 569px;
  height: 174px;
  font-size: 22px;
  line-height: 29px;
  color: #fff;
}
